<?php declare(strict_types = 1);

return [
    'secretBcrypt' => '',
    'saveDirName' => '/data/',
    'maxScreenshotSize' => 2 * 1048576,
    'screenshotMimeTypes' => [ 'image/png', 'image/jpeg' ]
];
